.App {
  max-width: 1200px;
  padding: 20px;
  margin: 50px auto;
}

.counter {
  margin-bottom: 32px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 24px 16px;
  border-bottom: solid 1px #ddd;
  margin: 0 -16px;
}

.item.red {
  background-color: rgba(255, 0, 0, 0.47);
}

.item.green {
  background-color: rgba(0, 128, 0, 0.35);
}

.item:hover {
  opacity: 0.7;
}

.errors {
  margin-top: 32px;
  color: red;
  font-weight: bold;
}

.final {
  font-size: 16px;
  padding: 16px;
}

.final li {
  padding: 16px 0;
  border-bottom: solid 1px #ddd;
}

.final h3 {
  margin-bottom: 8px;
}